* { position: relative; margin: 0; padding: 0; border: none; outline: none; font: inherit; line-height: inherit; cursor: inherit; -webkit-box-sizing: border-box; box-sizing: border-box; }
a { text-decoration: none; color: inherit; }
a img { border: none; outline: none; }
ul, ol { list-style: none; }
input[type=text], textarea, button { display: block; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
input, textarea { cursor: text; }
button, a, input[type="submit"] { cursor: pointer; }
input[type=radio] { position: absolute; visibility: hidden; }
html { width: 100%; height: 100%; overflow-x: hidden; overflow-y: scroll; font-size: 10px; cursor: default; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: transparent; /*-webkit-font-smoothing: antialiased;*/ }
body { width: 100%; min-height: 100%; overflow-x: hidden; }
.clear:after { content: ''; display: table; clear: both; }

body { background: #212529; color: #f5f5f5; font-size: 1.6rem; line-height: 1.2; font-weight: 300; }
#fps { position: absolute; background: #333; padding: 2px 4px; z-index: 100; font-size: 11px; font-family: sans-serif; top: 10px; right: 10px; }
